<div class="product-layout grid-style">
  <div class="product-thumb transition">
    <div class="item">
      <div class="item-inner">
        <!-- Images container -->
        <div class="image images-container">
          <a
            href="{{ '/products/detail/' + product.id }}"
            class="product-image"
          >
            <img [src]="image" [alt]="product.name" class="img-r" />
            <img
              [src]="imageResponse"
              [alt]="product.name"
              class="img-responsive has-rotator"
            />
          </a>
        </div>

        <!-- Caption -->
        <div class="caption">
          <a href="{{ '/products/detail/' + product.id }}" class="product-name">
            <h4>{{ product.name }}</h4>
          </a>

          <!-- Price Box -->
          <div class="price-box">
            <label>Precio:</label>
            <p class="special-price">
              <span class="price">{{ rangePrices }}</span>
            </p>
          </div>
          <div class="box-hover">
            <!-- Product Description -->
            <p class="product-des">
              {{ product.description }}
            </p>
            <div class="action-links">
              <button
                class="btn btn-cart"
                type="button"
                title="Agregar al carrito"
                (click)="addToCart(product.id)"
              >
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
